.sidebar-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff1a;
  background: #001529; 
  z-index: 1001;      
}

.sidebar-logo {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  flex: 1;
  background:  #1890ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Arial Black', sans-serif;
}

.sidebar-close-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-close-icon:hover {
  color: #1890ff;
}

.ant-menu-dark .ant-menu-sub {
  background: transparent !important;
}

.ant-menu-dark {
  background: transparent;
}

.ant-menu-item {
  transition: all 0.3s;
}

.ant-menu-item:hover {
  background-color: #343a40;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
}

.ant-layout-sider::-webkit-scrollbar {
  display: none;
}

.ant-layout-sider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 991px) {
  .sidebar-header {
    justify-content: space-between;
  }
}