
html {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

body {
  padding-right: 0 !important;
  margin-right: 0 !important;
  overflow-x: hidden;
  width: 100% !important;
}

body.ant-scrolling-effect,
body.ant-modal-open {
  width: 100% !important;
  overflow-y: scroll !important;
  padding-right: 0 !important;
  position: relative !important;
}

:root {
  scrollbar-gutter: stable;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    width: 100% !important;
    position: relative !important;
  }
  
  body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
  
  body.ant-scrolling-effect,
  body.ant-modal-open {
    max-width: 100vw !important;
    overflow-y: scroll !important;
  }
}
.ant-modal-wrap {
  overflow-y: auto !important;
}

.ant-modal-root {
  overflow: hidden !important;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
  html, body {
    width: 100vw !important;
    overflow-x: hidden !important;
  }
}
.ant-modal-wrap {
  overflow-y: auto !important;
}

.ant-modal-root {
  overflow: hidden;
}
/* Disable ant design modal mask blur animation   */
.ant-modal-mask {
  backdrop-filter: none !important;
  animation-duration: 0s !important;
}

.ant-modal-wrap {
  animation-duration: 0s !important;
}

.ant-modal {
  animation-duration: 0.2s !important;
}
